.booking {
    background-color: #440F51;
    padding: 80px 0;
}

.booking-halls {
    border: none;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.booking-halls:last-child {
    margin-bottom: 0;
    justify-content: center;
}

.booking-halls__title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}

.booking-halls__lable {
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
    background-color: #FFFFFF;
    width: 250px;
    height: 55px;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;   
}

.booking-halls__lable:hover {
    background-color: #EADEED;
    border: 3px solid #640AA3;
}

.booking-halls__lable:focus {
    outline: 3px solid #640AA3;
}

.booking-halls__lable:active {
    background-color: #6C0287;
    border: 3px solid #FFFFFF;
}

.booking-halls__input {
    display: none;
}

.booking-halls__input:checked + .booking-halls__lable {
    background-color: #6C0287;
    border: 3px solid #FFFFFF;
}


.booking-kit__subblock {
    display: flex;
    border: none;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
}

.booking-kit {
    margin-bottom: 67px;
}

.booking-kit__subtitle {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 24px;
}

.booking-kit__input{
    width: 25px;
    height: 25px;
    color: #FFFFFF;
    margin-right: 12px;
    cursor: pointer;
}

.booking-kit__input:focus {
    outline: 1px solid #CD06FF;
}

.booking-kit__lable {
    font-size: 22px;
    display: flex;
    margin-bottom: 20px;
    flex-direction: row-reverse;
}

.booking-kit__lable:last-child{
    margin-bottom: 0;
}

.booking-coords__lable {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 6px;
}

.booking-coords__block {
    margin-right: 50px;
}

.booking-coords__block:last-child {
    margin-right: 0;
}

.booking-coords__block-date {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.booking-coords__subblock {
    margin-bottom: 33px;
}


.booking-coords__input-date {
    width: 134px;
    padding: 15px;
    margin-right: 27px;
}

.booking-coords__input-date:focus {
    outline: 2px solid #CD06FF;;
}

.booking-coords__input-date:last-child {
    margin-right: 0;
}

.booking-coords__input {
    display: block;
    outline: 0;
    padding: 15px;
    margin-bottom: 12px;
    width: 300px;
}

.booking-coords__input:last-child {
    margin-bottom: 40px;
}

.booking-coords__input-people {
    padding: 15px;
    margin-bottom: 20px;
}

.booking-coords__input-people:focus {
    outline:  2px solid #CD06FF;
}

.booking-coords__input:focus {
    border: 2px solid #CD06FF;
}

.booking__button {
    display: block;
    background: #FFFFFF;
    border: none;
    border-radius: 10px; 
    padding: 12px 47px;
    font-weight: 700;
    font-size: 22px; 
    color: #6C0287; 
    text-transform: uppercase;
    margin: 0 90px 0 auto;
}

.booking__button:hover {
    background-color: #EADEED;
    outline: 3px solid #6C0287;
}

.booking__button:focus {
    background-color: #FFFFFF;
    outline: 3px solid #6C0287;
}

.booking__button:active {
    background-color: #EADEED;
    outline: none;
}