footer {
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
    padding: 56px 0 40px;
}

.footer__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 142px;
}

.contacts {
    padding-bottom: 40px;
    text-decoration: none;
    font-style: normal;
    display: block;
}

.contacts__item {
    font-size: 24px;
    font-weight: 700;
    color: var(--main-wite-color);
    text-decoration: none;
    display: block;
    background-repeat: no-repeat;  
    background-size: 32px 35px;
    background-position: center left;
    margin: 0;
    padding-left: 59px;
}

.contacts__item:hover {
    color:  #EADEED;;
    transition-duration: 0.5s;
}

.contacts__item_icon-location {
    background-image: url("../assets/img/location.svg");
    width: 300px;
    margin-bottom: 42px;
}

.contacts__item_icon-phone {
    background-image: url("../assets/img/phone.svg");
    margin-bottom: 11px;
    
}

.contacts__item_icon-envelope {
    background-image: url("../assets/img/envelope.svg");
}

.social__list {
    margin: 0;
    padding-left: 0;
}

.social__link {
    font-size: 0;
    display: inline-block;
    margin-right: 21px;
}

.social__link:last-child {
    margin: 0;
}

.social__item:hover {
    color: #EADEED;
    transition-duration: 0.5s;
}

.social__item:focus {
    color: #EADEED;
    outline: 1px solid var(--main-bright-lilac-color);
    transition-duration: 0.8s;
    
}

.social__item:active {
    color: var(--main-bright-lilac-color);
    transition-duration: 0.5s;
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.copyright__text {
    display: block;
    max-width: 157px;
    font-size: 14px;
    font-weight: 400;
    text-align: end;
    padding-bottom: 7px;
    
}

.copyright__text:hover {
    color: #EADEED;
    transition-duration: 0.5s;
}

.copyright__text:focus {
    color: var(--main-bright-lilac-color);
    transition-duration: 0.5s;
}

.copyright__text:active {
    color: var(--main-bright-lilac-color);
    transition-duration: 0.5s;
}

@media(max-width:1240px) { 
    footer {
        padding: 20px 0 19px;
    }

    .footer__block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 92px;
    }
    
    .contacts {
        padding-bottom: 37px;
        text-decoration: none;
        font-style: normal;
        display: block;
    }

    .footer__img {
        width: 542px;
        height: 274px;
    }
}

@media(max-width:1240px) {
    .contacts__item {
        padding-left: 40px;
    }

    .contacts__item_icon-location {
        margin-bottom: 47px;
    }

    .social__link {
        width: 40px;
        margin-right: 22px;
    }
}

@media (max-width: 850px){
    footer {
        padding: 11px 0 10px;
    }
    .footer__block {
        margin-bottom: 74px;
        flex-direction: column;
        
    }

    .footer__subblock {
        text-align: center;
    }

    .contacts {
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 26px;
    }

    .contacts__item {
        background-size: 25px 35px;
        font-size: 24px;
        line-height: 29px;
        background-position-x: left;
        margin-bottom: 26px;
        padding-left: 49px;
    }

    .contacts__item_icon-location {
        width: 263px;
        margin-bottom: 38px;
        background-position: 23% -21%;
    }

    .contacts__item_icon-phone {
        margin-bottom: 27px;
    }

    .social {
        margin-bottom: 24px;
    }

    .footer__img {
        width: 688px;
        height: 337px;
    }
}

@media (max-width: 400px) {
    footer {
        padding: 11px 0 24px;
    }

    .footer__block {
        margin-bottom: 62px;
    }

    .contacts {
        margin-right: 26px;
    }

    .contacts__item {
        background-size: 23px 19px;
        font-size: 14px;
        line-height: 18px;
        background-position: center left;
        margin-bottom: 10px;
        padding-left: 26px;
    }

    .contacts__item_icon-location {
        width: 150px;
        background-position: 21% 9%;
    }


    .social {
        margin-bottom: 32px;
    }

    .social__link {
        width: 30px;
        margin-right: 16px;
    }

    .footer__img {
        width: 280px;
        height: 194px;
    }

    .copyright__text {
        font-size: 12px;
        line-height: 16px;
        padding-bottom: 0;
    }

    .copyright__text-author {
        padding-bottom: 5px;
        
    }

    .copyright {
        flex-direction: column;
        align-items: center;
        gap: 19px;
    }


}