footer {
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
    padding: 50px 0 10px;
}

.footer__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 156px;
}

.contacts {
    padding-bottom: 40px;
    text-decoration: none;
    font-style: normal;
    display: block;
}

.contacts__item {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    background-repeat: no-repeat;  
    background-size: 32px 35px;
    background-position: center left;
    margin: 0;
    padding-left: 70px;
}

.contacts__item:hover {
    color:  #EADEED;;
}

.contacts__item_icon-location {
    background-image: url("../assets/img/location.svg");
    width: 300px;
    margin-bottom: 38px;
}

.contacts__item_icon-phone {
    background-image: url("../assets/img/phone.svg");
    margin-bottom: 11px;
    
}

.contacts__item_icon-envelope {
    background-image: url("../assets/img/envelope.svg");
}

.social__list {
    margin: 0;
    padding-left: 0;
}

.social__link {
    font-size: 0;
    display: inline-block;
    margin-right: 27px;
}

.social__link:last-child {
    margin: 0;
}

.social__item:hover {
    color: #EADEED;
}

.social__item:focus {
    color: #EADEED;
    outline: 1px solid #CD06FF;
    
}

.social__item:active {
    color: #CD06FF;
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.copyright__text {
    display: block;
    max-width: 157px;
    font-size: 14px;
    font-weight: 400;
    text-align: end;
    
}

.copyright__text:hover {
    color: #EADEED;;
}

.copyright__text:focus {
    color: #CD06FF;
}

.copyright__text:active {
    color: #CD06FF;
}