.entertain__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
}

.entertain__item {
    font-size: 20px;
    font-weight: 700;
    width: 380px;
    min-height: 228px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 166px 40px 0px 40px;
}

.entertain__item_type_vr {
    background-image: url("../assets/img/entertain/vr.jpg");
}

.entertain__item_type_audio {
    background-image: url("../assets/img/entertain/audio.jpg"); 
}

.entertain__item_type_karaoke {
    background-image: url("../assets/img/entertain/karaoke.jpg");
}

.entertain__item_type_games {
    background-image: url("../assets/img/entertain/game.jpg");
}

.entertain__item_type_movie {
    background-image: url("../assets/img/entertain/netflix.jpg");
}

.entertain__item_type_plаystаtiоn {
    background-image: url("../assets/img/entertain/sony.jpg");
}

.entertain__item:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #808080;
    transition-duration: 0.5s;
}