
.entertain__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-auto-rows: 48px;
    gap: 42px 20px;
    
}

.entertain__item {
    font-size: 20px;
    font-weight: 700;
    min-height: 228px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 166px 40px 0px 40px;
    transition-duration: 0.5s;
    transition-property: transform, box-shadow;
    
}

.entertain__item_type_vr {
    background-image: url("../assets/img/entertain/vr.jpg");
    grid-column: 1;
    grid-row: 1/4;
}

.entertain__item_type_audio {
    background-image: url("../assets/img/entertain/audio.jpg"); 
    grid-column: 2;
    grid-row: 2/5;
}

.entertain__item_type_karaoke {
    background-image: url("../assets/img/entertain/karaoke.jpg");
    grid-column: 3;
    grid-row: 1/4;
}

.entertain__item_type_games {
    background-image: url("../assets/img/entertain/game.jpg");
    grid-column: 1;
    grid-row: 4/7;
}

.entertain__item_type_movie {
    background-image: url("../assets/img/entertain/netflix.jpg");
    grid-column: 2;
    grid-row: 5/8;
}

.entertain__item_type_plаystаtiоn {
    background-image: url("../assets/img/entertain/sony.jpg");
    grid-column: 3;
    grid-row: 4/7;
}

.entertain__item:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #808080;
}

@media(max-width:1240px) {
    .entertain {
        min-height: 100%;
    }

    .entertain__title{
        margin: 0 auto 36px;
    }
    .entertain__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        grid-auto-rows: 45px;
        gap: 30px 22px;
        
    }
    
    .entertain__item {
        font-size: 20px;
        line-height: 28px;
        min-height: 170px;
        padding: 115px 33px 0px 19px;
    }

    .entertain__item:nth-child(5) {
        padding: 115px 21px 0px 21px;
    }
}

@media(max-width:1100px) {
    .entertain__list {
        grid-auto-rows: 38px; 
    }

    .entertain__item:nth-child(5) {
        padding: 85px 21px 0px 21px;
    }
}

@media(max-width: 1000px) {
    .entertain__item:nth-child(5) {
        padding: 135px 18px 0px 29px;
    }

    .entertain__list {
        grid-template-columns: repeat(auto-fit, minmax(334px, 1fr));
        grid-auto-rows: 245px;
        gap: 20px;
    }

    .entertain__item {
        padding: 136px 40px 0px 31px;
    }

    .entertain__item_type_vr, 
    .entertain__item_type_audio,
    .entertain__item_type_karaoke,
    .entertain__item_type_games,
    .entertain__item_type_movie, 
    .entertain__item_type_plаystаtiоn {
        grid-column: auto;
        grid-row: auto;
    } 
}

@media (max-width: 900px) {
    .entertain__title {
        margin: 0 auto 30px;
    }

    .entertain__list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: 200px;
        gap: 20px;
    }

    .entertain__item:nth-child(5) {
        padding: 115px 18px 0px 29px;
    }

    
}

@media (max-width: 700px) {
    .entertain__list {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-auto-rows: 170px;
        gap: 15px;
    }

    .entertain__item:nth-child(5) {
        padding: 85px 18px 0px 29px;
    }

    .entertain__item {
        padding: 100px 40px 0px 31px;
    }
}

@media (max-width: 650px) {
    .entertain__item {
        font-size: 15px;
        line-height: 20px;
        min-height: 150px;
        padding: 107px 30px 0px 31px;
    }
}

@media (max-width: 500px) {
    .entertain__list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: 110px;
        gap: 10px;
    }

    .entertain__item {
        font-size: 10px;
        line-height: 14px;
        min-height: 75px;
        padding: 75px 15px 0px 22px;
    }

    .entertain__item:nth-child(5) {
        padding: 70px 13px 0px 22px;
    }
}

@media (max-width: 400px) {
    .entertain__title {
        margin: 0 auto 15px;
    }
    
    .entertain__list {
        grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
        grid-auto-rows: 90px;
    }
    

    .entertain__item {
        padding: 30px 13px 0px 10px;
    }

    .entertain__item:nth-child(5) {
        padding: 30px 13px 0px 10px;
    }
}

@media (max-width: 350px) {
    .entertain__list {
        grid-auto-rows: 75px;
    }
}