
.questions__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.questions__item {
    font-size: 24px;
    font-weight: 700;
    padding: 20px 70px;
    margin-bottom: 20px;
    line-height: 1.9;
    position: relative;
}

.questions__item:nth-child(even) {
    background-color: var(--main-bg-color);
    color: var(--main-wite-color);
}

.questions__item:nth-child(odd) {
    background-color: var(--main-wite-color);
    color: #1C1A1A;
}

.questions__item:after {
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    top: 12px;
    right: 34px;
    background-size: contain;
}

.questions__item:nth-child(odd):after {
    background-image: url("../assets/img/open-purple.svg");    
}

.questions__item:nth-child(even):after {
    background-image: url("../assets/img/open.svg");
}

.questions__item:last-child {
    margin: 0;
}

.questions__item:nth-child(odd):hover:after {
    background-image: url("../assets/img/open_purple_hover.svg"); 
    transition-duration: 0.5s;   
}

.questions__item:nth-child(odd):focus:after {
    background-image: url("../assets/img/open_purple_hover.svg");  
    transition-duration: 0.5s;   
}

.questions__item:nth-child(odd):active:after {
    background-image: url("../assets/img/close_purple_active.svg");
    transition-duration: 0.5s; 
    
}

.questions__item:nth-child(even):hover:after {
    background-image: url("../assets/img/open_white_hover.svg");
    transition-duration: 0.5s; 
}

.questions__item:nth-child(even):focus:after {
    background-image: url("../assets/img/open_white_hover.svg");
    transition-duration: 0.5s; 
}

.questions__item:nth-child(even):active:after {
    background-image: url("../assets/img/open_white_active.svg");
    transition-duration: 0.5s; 
}

@media(max-width:1110px) {
    .questions__item {
        font-size: 20px;
        padding: 23px;
        margin-bottom: 16px;
        line-height: 24px;
    }

    .questions__item:after {
        top: 16px;
        right: 21px;
    }

    .questions__item:last-child {
        display: none;
    }

    .questions__item:nth-child(4) {
        margin-bottom: 0;
    }

    .questions__item:nth-child(even) {
        background-color: var(--main-wite-color);
        color: #1C1A1A;
    }

    .questions__item:nth-child(odd):after {
        background-image: url("../assets/img/open__1024.svg");    
    }
    
    .questions__item:nth-child(even):after {
        background-image: url("../assets/img/open__1024.svg");
    }
}

@media (max-width: 850px) {
    .questions__item:after {
        top: 8px;
        right: 65px;
    }

    .questions__item {
        padding: 22px 58px;
    }
}

@media (max-width: 650px) {
    .questions__item {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 10px;
        padding: 15px 11px;
    }

    .questions__item:nth-child(-n + 2) {
        padding:  15px 32px 15px 11px;
    }

    .questions__item:after {
        width: 30px;
        height: 30px;
        top: 6px;
        right: 13px;
    }
}

@media (max-width: 400px) {
    .questions__item:nth-child(-n + 2) {
        padding:  10px 32px 10px 11px;
    }
}










