.halls {
    padding-bottom: 100px;
}

.halls__list {
    list-style: none;
    margin: -10px;
    padding: 0; 
    font-size: 0; 
}

.halls__item {
    display: inline-block;
    margin: 10px;
}

.halls__link {
    display: block;
    width: 580px;
    padding: 135px 0 134px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 70px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 80px;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    text-align: center;
    transition-duration: 0.8s;
    transition-property: color;
}

.halls__link:hover {
    color: #EADEED;
} 

.halls__link:focus {
    color: #EADEED;
}

.halls__link:active {
    color: var(--main-bright-lilac-color);
}

.halls__link_type_vibes {
    background-image: url("../assets/img/halls/80_vibes.jpg");
}

.halls__link_type_wars {
    background-image: url("../assets/img/halls/star_wars.jpg"); 
}

.halls__link_type_west {
    background-image: url("../assets/img/halls/wild_west.jpg");
}

.halls__link_type_neon {
    background-image: url("../assets/img/halls/neon_style.jpg");
}
