.header {
    padding: 30px 0 53px;  
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header__list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__link {
    font-size: 22px;
    text-transform: uppercase;
    transition-duration: 0.5s; 
    transition-property: color, border;
}

.header__link:hover {
    color: var(--main-violet-color);
    border: var(--main-violet-color);
    
}

.header__link:focus {
    color: var(--main-violet-color);
    outline: var(--main-violet-color);
    
}

.header__link:active {
    color: var(--main-violet-color);
    
}

.header__burger {
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
}

.header__burger-item {
    display: block;
    width: 54px;
    height: 5px;
    background-color: #6C0287;
    border-radius: 2px;
    font-size: 0;
    color: transparent;
    position: relative;
}

.header__burger-item:before {
    width: 54px;
    top: -10px;
}

.header__burger-item:after {
    width: 31px;
    bottom: -10px;
}

.header__burger-item:before, 
.header__burger-item:after {
    content: "";
    height: 100%;
    background-color: #6C0287;
    border-radius: 2px;
    position: absolute;
    left: 0;
    z-index: 1;
}

.header__button {
    display: block;
    border: 3px solid var(--main-bright-lilac-color);
    color: var(--main-wite-color);
    background-color: transparent;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 12px 30px;
    
}


.header__button:hover {
    background-color: var(--main-violet-color);
    outline: none;
    border: 3px solid var(--main-violet-color);
    transition-duration: 0.5s;
    transition-property: background-color, border;
}


.header__button:focus {
    background-color: var(--main-violet-color);
    outline: none;
    border: 3px solid var(--main-violet-color);
    transition-duration: 0.5s;
    transition-property: background-color, border;
    
}

.header__button:active {
    background-color: var(--main-violet-color);
    outline: none;
    border: 3px solid #000000;
    transition-duration: 0.5s;
    transition-property: background-color, border;
}

@media(max-width:1110px) {
    .header {
        padding: 30px 0 30px;  
    }

    .header__logo {
        width: 87px;
        height: 55px;
    }

    .header__list {
        gap: 20px;
    }
    
    .header__link {
        font-size: 18px;
    }

    .header__button {
        font-size: 18px;
        border-radius: 8px;
        padding: 9px 24px;
        
    }
}

@media(max-width:900px) {
    .header {
        padding: 32px 0 30px;  
    }

    .header__list {
        display: none;
    }

    .header__burger {
        display: block;
        margin-right: 79px;
        order: -1;
    }
}

@media(max-width:570px) {
    .header__button {
        display: none;
    }

    .header__nav {
        display: none;
    }
}

@media (max-width: 400px) {
    .header {
        padding: 20px 0 15px;
    }

    .header__logo {
        width: 69px;
        height: 47px;
}

    .header__burger-item {
        width: 39px;
        height: 4px;
    }

    .header__burger-item:before {
        width: 39px;
        top: -7px;
    }

    .header__burger-item:after {
        width: 22px;
        bottom: -9px;
    }
}