.header {
    padding: 30px 0 58px;  
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header__list {
    display: flex;
    align-items: center;
    gap: 40px;
    height: 38px;
}

.header__link {
    font-size: 22px;
    text-transform: uppercase;
}

.header__link:hover {
    color: #6C0287;
    border: #6C0287;
    transition-duration: 0.5s;
}


.header__link:focus {
    color: #6C0287;
    outline: #6C0287;
    transition-duration: 0.5s; 
}

.header__link:active {
    color: #640AA3;
    transition-duration: 0.5s;
}

.header__button {
    display: block;
    border: 3px solid #CD06FF;
    color: #FFFFFF;
    background-color: transparent;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 12px 32px 13px;
    
}


.header__button:hover {
    background-color: #6C0287;
    outline: none;
    border: 3px solid #6C0287;
    transition-duration: 0.5s;
    transition-property: background-color, border;
}


.header__button:focus {
    background-color: #6C0287;
    outline: none;
    border: 3px solid #6C0287;
    transition-duration: 0.5s;
    transition-property: background-color, border;
    
}

.header__button:active {
    background-color: #640AA3;
    outline: none;
    border: 3px solid #000000;
    transition-duration: 0.5s;
    transition-property: background-color, border;
    
}