.header {
    padding: 30px 0 58px;  
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header__list {
    display: flex;
    align-items: center;
    gap: 40px;
    height: 38px;
}

.header__link {
    font-size: 22px;
    text-transform: uppercase;
    transition-duration: 0.5s; 
    transition-property: color, border;
}

.header__link:hover {
    color: var(--main-violet-color);
    border: var(--main-violet-color);
    
}

.header__link:focus {
    color: var(--main-violet-color);
    outline: var(--main-violet-color);
    
}

.header__link:active {
    color: var(--main-violet-color);
    
}

.header__button {
    display: block;
    border: 3px solid var(--main-bright-lilac-color);
    color: var(--main-wite-color);
    background-color: transparent;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 12px 32px 13px;
    
}


.header__button:hover {
    background-color: var(--main-violet-color);
    outline: none;
    border: 3px solid var(--main-violet-color);
    transition-duration: 0.5s;
    transition-property: background-color, border;
}


.header__button:focus {
    background-color: var(--main-violet-color);
    outline: none;
    border: 3px solid var(--main-violet-color);
    transition-duration: 0.5s;
    transition-property: background-color, border;
    
}

.header__button:active {
    background-color: var(--main-violet-color);
    outline: none;
    border: 3px solid #000000;
    transition-duration: 0.5s;
    transition-property: background-color, border;
    
}