.reviews__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 100px;
}

.reviews__item {
    display: flex;
    margin-bottom: 41px;
    position: relative;
}

.reviews__item:last-child {
    margin-bottom: 0;
}

.reviews__block {
    margin-right: 20px;
}

.reviews__img-gradient {
    display: inline-block;
    position: relative;
    margin-bottom: 11px; 
}

.reviews__img-gradient::after {
    content: '';
    width: 280px;
    height: 280px;
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background: transparent;
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
    }

    .reviews__img {
        width: 280px;
        height: 280px;
    }

.reviews__author {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.reviews__text { 
    font-size: 20px;
    line-height: 1.5;
    max-width: 580px;
    padding: 52px 0 0;
}

@media(max-width:1200px) {
    .reviews__block {
        margin-right: 20px;
    }

    .reviews__author {
        font-size: 18px;
        line-height: 26px;
    }
    
    .reviews__text { 
        font-size: 18px;
        line-height: 26px;
        max-width: 515px;
        padding: 33px 21px;
    }

    .reviews__item {
        margin-bottom: 40px;
    }

    .reviews__img-gradient {
        margin-bottom: 20px; 
    }

    .reviews__img-gradient::after {
        width: 172px;
        height: 172px;
    }

    .reviews__img {
        width: 172px;
        height: 172px;
    }
}

@media(max-width:1020px){
    .reviews__list {
        padding: 0 63px;
        
    }

    .reviews__text { 
    max-width: 410px;
    padding: 31px 2px;
    }


}

@media (max-width: 850px){
    
    .reviews__item {
        margin-bottom: 26px;
    }

    .reviews__block {
        margin-right: 15px;
    }

    .reviews__text {
        font-size: 16px;
        line-height: 22px;
        max-width: 400px;
        padding: 35px 0;
    }

    .reviews__author {
        font-size: 14px;
        line-height: 20px;
    }

    .reviews__img-gradient {
        margin-bottom: 16px;
    }

    .reviews__img-gradient::after {
        width: 153px;
        height: 153px;
    }

    .reviews__img {
        width: 153px;
        height: 153px;
    }
}

@media (max-width: 780px) {
    .reviews__list {
        padding: 0 25px;
    }
}

@media (max-width: 700px){
    .reviews__text {
        max-width: 350px;
    }

    .reviews__img-gradient::after {
        width: 115px;
        height: 115px;
    }

    .reviews__img {
        width: 115px;
        height: 115px;
    }

    .reviews__img-gradient {
        margin-bottom: 10px;
    }

    .reviews__text {
        padding: 20px 0;
    }

}


@media (max-width: 580px) {
    .reviews {
        padding-bottom: 50px;
    }

    .reviews__list {
        padding: 0;
        flex-direction: column;
    }

    .reviews__item {
        margin-bottom: 23px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .reviews__block {
        margin-right: 0;
        margin-bottom: 15px;
    } 

    .reviews__text {
        font-size: 12px;
        line-height: 16px;
        max-width: 393px;
        padding: 20px 0 0 20px;
    }

    .reviews__img-gradient {
        margin: 0 0 5px 10px;
    }
} 

@media (max-width: 400px) {
    .reviews__img-gradient::after {
        width: 86px;
        height: 86px;
    }

    .reviews__img {
        width: 86px;
        height: 86px;
    }

    .reviews__text {
        font-size: 12px;
        line-height: 16px;
        max-width: 393px;
        padding: 0;
    }

}




